@charset "UTF-8";

.order-finished-thanks-message {
  text-align: center;
}

.order-finished-btn {
  text-align: center;
}

.conplete{
	color: red;
	font-size: 50px;
margin-left: 100px;	
}

.conpleteSub{
	font-size: 20px;
}

.completeLOdo{
	width: 90px;
	margin-right: 10px;
}